# === CRYPTOGRAPHY ENGINE CONFIGURATION ===

# AES-256-GCM
# Generar usando os.urandom(32).hex()
AES_MASTER_KEY=

# EdDSA (Ed25519)
# Generar la llave privada en formato PEM
EDDSA_PRIVATE_KEY_PEM=

# ARGON2 (Opcional si se quiere forzar un secret general, no recomendado para contraseñas de usuarios pero útil para otras derivaciones)
# ARGON_PEPPER=
