# =========================
# PYTHON & ENTORNO
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/

# =========================
# VARIABLES DE ENTORNO (SECRETS)
# =========================
.env
.env.*
*.env

# =========================
# IDEs (PyCharm, VSCode, etc)
# =========================
.idea/
.vscode/
*.swp
*.swo

# =========================
# ANDROID / KOTLIN (Frontend)
# =========================
animoon/.gradle/
animoon/build/
animoon/*/build/
animoon/local.properties
animoon/.idea/
animoon/.cxx/
animoon/captures/
animoon/*.iml
animoon/**/*.iml

# =========================
# MAC OS
# =========================
.DS_Store

__pycache__/
*.py[cod]